<li class="collection-item grey darken-4" id="{{id}}">
    <div class="title row" style="">
        <span class="timestamp col s1">{{time}}</span>
        <span class="item col s4">{{item}}</span>
        <span class="account col s3">{{account}}</span>
        <span class="currency col s1">{{originalPrice}}</span>
        <span class="col s2"></span>
        <span class="item-league col s1 right">{{league}}</span>
        <!--<i class="material-icons col s1 right" style="position: relative; top: -8px;">delete</i>-->
    </div>
    <div class="details row" style="">
        <div class="col s1 center-align">
            <img class="" src="{{icon}}" style="">
        </div>
        <div class="col s4" style="line-height: 1.5em; padding-left: 0">
            <span class="col s12">
                Affixes
            </span><br>
            <span class="enchant-container col s12">
            </span><br>
            <span class="implicit-container col s12">
            </span><br>
            <span class="explicit-container col s12">
            </span><br>
            <span class="crafted-container col s12">
            </span>
            <span class="corrupted col s12">Corrupted</span>
        </div>
        <div class="col s5" style="line-height: 1.5em; padding-left: 0">
            <span class="col s1">
                Properties
            </span><br>
            <span class="properties-container">
            </span>
        </div>
    </div>
</li>