<li class="collection-item grey darken-4 filter-entry">
    <div class="row">
        <div class="col s1">
            <input type="checkbox" class="filled-in" id="enable-filter-{{id}}" {{checked}}>
            <label for="enable-filter-{{id}}" style="font-size: 1em!important;"></label>
        </div>
        <div class="col s11 filter-detail" id="filter-detail-{{id}}">
            <span class="title">
                <span class="item">{{{title}}}</span> in {{league}} league <= <span class="currency">{{displayPrice}}</span><span class="buyout">&nbsp;(include barter offers)</span><span class="clipboard">&nbsp;(clipboard)</span><br><br><br>
                <span class="item-stats">
                </span>
            </span>
            <a href="#!" class="secondary-content"><i class="material-icons red-text remove-filter" style="top: -20px" id="{{id}}">remove</i></a>
        </div>
    </div>
</li>