<li class="collection-item grey darken-4">
    <span class="title">
        <span class="item">{{{title}}}</span> in {{league}} league <= <span class="currency">{{budget}} {{currency}}</span><span class="buyout">&nbsp;(include barter offers)</span><span class="clipboard">&nbsp;(clipboard)</span><br><br><br>
        <span class="item-stats">
        </span>
    </span>
    <a href="#!" class="secondary-content"><i class="material-icons red-text remove-filter" style="top: -20px" id="{{id}}">remove</i></a>
</li>