<form class="poe-trade-form" id="{{id}}-poe-trade-form" method="POST" action="http://poe.trade/search">
    <input type="text" name="name" value="{{item}}">
    <!-- <input type="text" name="base" value="{{base}}"> -->
    <input type="text" name="type" value="{{poeTradeType}}">
    <input type="text" name="league" value="{{league}}">
    <input type="text" name="link_min" value="{{link_min}}">
    <input type="text" name="link_max" value="{{link_max}}">
    <input type="text" name="q_min" value="{{quality}}">
    <input type="text" name="ilvl_min" value="{{level}}">
    <input type="text" name="level_min" value="{{tier}}">
    <input type="text" name="armour_min" value="{{armor}}">
    <input type="text" name="shield_min" value="{{es}}">
    <input type="text" name="evasion_min" value="{{evasion}}">
    <input type="text" name="online" value="x">
    <input type="submit" value="Search" />
</form>